
#about_us.row
  .six.columns
    .panel{:style => 'height: 170px;'}
      %h5 About Us
      %p We use the best technology to provide you the unprecedented information advantage when recruiting top collegiate talent using the power of social media.
  .three.columns
    .panel{:style => 'height: 170px;'}
      %h5 Say Hello!
      %p 2/F Topy Building 1 No. 3 Economia Street, Libis Quezon City 1110, Philippines
  .three.columns
    .panel{:style => 'height: 170px;'}
      %h5 Contact Us
      %p If you have any questions regarding our services, drop us a message or give us a call at (+632 869 1627)
.v-spacer50

