.six.columns
  = image_tag "http://placehold.it/500x500&text=Image"
  %br

.six.columns
  %h3.show-for-small Header
  .panel
    %h4.hide-for-small Header
    %h5.subheader Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.

  .row
    .six.mobile-two.columns
      .panel
        %h5 Header
        %h6.subheader Fusce ullamcorper mauris in eros dignissim.
        = link_to "Button Time!", "#", :class => "small button"

    .six.mobile-two.columns
      .panel
        %h5 Header
        %h6.subheader Fusce ullamcorper mauris in eros dignissim.
        = link_to "Button Time!", "#", :class => "small button"
