.row
  .twelve.columns
    .radius.panel
      %form
        .row.collapse
          .ten.mobile-three.columns
            = text_field_tag "Something"
          .two.mobile-one.columns
            = link_to "Search", "#", :class => "postfix button expand"
