- provide :title, 'Pricing'

#pricing
  .row
    %h2.centerify Pay-As-You-Need-It Basis
    .twelve.columns
      .four.columns
        %ul.pricing-table
          %li.title
          %li.price
          %li.description
          %li.bullet-item
          %li.bullet-item
          %li.cta-button
      .four.columns
        %ul.pricing-table
          %li.title
          %li.price
          %li.description
          %li.bullet-item
          %li.bullet-item
          %li.cta-button
      .four.columns
        %ul.pricing-table
          %li.title
          %li.price
          %li.description
          %li.bullet-item
          %li.bullet-item
          %li.cta-button


