// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook-logo {
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  line-height: 22px;
}

.signin{
  position: relative;
  display: inline;
}

.current-user{
  font-size: 2em;
  color: #fff;
}

.centerify {
  text-align: center;
  margin: 0 auto;
}

#pricing {
  margin: 40px 0px;

  h2 {
    text-shadow: 0px 1px #444;
    font-size: 48px;
    margin: 10px;
  }//element h2

}//id pricing

#features {
  margin: 40px 0px;

  h2 {
    text-shadow: 0px 1px #444;
    font-size: 48px;
    margin: 10px;
  }//element h2

  .twelve {

    background: rgba(186, 234, 234, 0.8);
    border-bottom: 4px solid rgba(144, 200, 200, 1);
    border-right: 4px solid rgba(144, 200, 200, 1);
    padding: 40px 10px;

    -webkit-border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    border-radius: 20px 0px 20px 0px;

  }

  .glyph {
    font-size: 100px;
    position: relative;
    left: 31%;
    top: -50px;
    opacity: 0.6;
  }

}//id features

#search {

  margin: 25px 0px;
 
  .half-column {
    width: 720px;
  }  
  
  form {

    input{

      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;

      height: 90px;
      font-size: 36px;
      font-style: italic;
      outline: none;

      text-align: center;
      letter-spacing: 1px;

      -webkit-transition: all 1000ms ease-in-out;
      -moz-transition: all 1000ms ease-in-out;
      -ms-transition: all 1000ms ease-in-out;
      -o-transition: all 1000ms ease-in-out;
      transition: all 1000ms ease-in-out;

      &:hover {
        -webkit-box-shadow: 0px 1px 2px 2px #56FAFA;
        -moz-box-shadow: 0px 1px 2px 2px #56FAFA;
        box-shadow: 0px 1px 2px 2px #56FAFA;
      }
    }

  }//element form

}//id search

#socialResume:hover{
	opacity: 0.7;
}
