.wrapper-heading{
  background: rgba(102, 255, 235, 1);
}

.wrapper-search{
  background: rgba(168, 240, 48, 1);
}

.wrapper-featured{
  background: rgba(217, 0, 65, 1);
}

.top-bar{
  background: #222222;
  min-height: 50px;
  line-height: 30px;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  position: relative;
}
