.three.mobile-two.columns
  = image_tag "http://placehold.it/500x500&text=Thumbnail"
  .panel
    %p Description
.three.mobile-two.columns
  = image_tag "http://placehold.it/500x500&text=Thumbnail"
  .panel
    %p Description
.three.mobile-two.columns
  = image_tag "http://placehold.it/500x500&text=Thumbnail"
  .panel
    %p Description
.three.mobile-two.columns
  = image_tag "http://placehold.it/500x500&text=Thumbnail"
  .panel
    %p Description
