%footer.row
  .twelve.columns
    .row
      .three.columns
        .inline
          %a{:href => "http//www.apptivate.co", :target => '_blank'} &copy; Apptivate
      .six.columns
        %center
          %span.glyph.social= link_to "d", 'https://www.facebook.com/pages/Social-Resume/546800158685356?fref=ts', :target => '_blank', :title => "Like us on Facebook!"
          %span.glyph.social= link_to "e", 'https://twitter.com/SocialResumePH', :target => '_blank', :title => "Follow us on Twitter!"
      .three.columns
        %ul.link-list.right
          %li
            %a{:href => "javascript:UserVoice.showPopupWidget();"} Feedback

:javascript
  
  $('#footer .row ul li:first').hover(function() {
    $(this).addClass("footer-buttons");
    }, function() {
    $(this).removeClass("footer-buttons");
  });

  $('#footer .row ul li:nth(1)').hover(function() {
    $(this).addClass("footer-buttons");
    }, function() {
    $(this).removeClass("footer-buttons");
  });

  $('#footer .row ul li:nth(2)').hover(function() {
    $(this).addClass("footer-buttons");
    }, function() {
    $(this).removeClass("footer-buttons");
  });
