%footer.row
  .twelve.columns
    %hr
    .row
      .six.columns
        %p &copy; Apptivate.
      .six.columns
        %ul.link-list.right
          %li
            =link_to "Link 1","#"
          %li
            =link_to "Link 2","#"
          %li
            =link_to "Link 3","#"
          %li
            =link_to "Link 4","#"
