%footer.row
  .twelve.columns
    %hr
    .row
      .six.columns
        %p &copy; Apptivate.
      .six.columns
        %ul.link-list.right
          %li= link_to "Features and Pricing", features_path
          %li= link_to "About Us", about_path
