%footer.row
  .twelve.columns
    .row
      .two.columns
        %p &copy; Apptivate.
      .ten.columns
        %ul.link-list.right
          %li= link_to "Features", features_path
          %li= link_to "Pricing", pricing_path
          %li
            %a{:href => "javascript:UserVoice.showPopupWidget();"} Feedback
          %li= link_to "About Us", about_path
