%nav.top-bar.fixed
  %ul
    %li.name
      %h1 
        =link_to "Title", "#"
    %li.toggle-topbar
      =link_to "#"

  %section
    %ul.left
      %li
        =link_to "Link","#"
      %li
        =link_to "Link","#"
      %li
        =link_to "Link","#"

    %ul.right
      %li.has-dropdown
        =link_to "Link", "#"

        %ul.dropdown
          %li
            =link_to "Dropdown Link","#"
          %li
            =link_to "Dropdown Link","#"
          %li
            =link_to "Dropdown Link","#"

%br
%br


